<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Lista de productos</h4>
                <div >
                    <input class="form-control" #inputBuscar (keyup)="buscar()" placeholder="Buscar..." type="text">
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Marca</th>
                                <th scope="col">Modelo</th>
                                <th scope="col">Sabor</th>
                                <th scope="col">Stock</th>
                                <th scope="col">Costo</th>
                                <th scope="col">Precio mayorista</th>
                                <th scope="col">Precio monorista</th>
                                <th scope="col">Gancia mayorista</th>
                                <th scope="col">Ganancia minorista</th>
                                <th scope="col">Borrar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  *ngFor="let item of productosTabla;let i = index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{ item.marca }}</td>
                                <td> {{item.modelo}} </td>
                                <td> {{item.gusto?.sabor}} </td>
                                <td> 
                                    <editable (update)="updateField(i, 'stock')">
                                        <ng-template viewMode>{{item.gusto?.stock}}</ng-template>
                                        <ng-template editMode>
                                            <input [formControl]="getControl(i, 'stock')" focusable editableOnEnter>
                                        </ng-template>
                                    </editable>
                                </td>
                                <td> {{ item.gusto?.costo }} </td>
                                <td> 
                                    <editable (update)="updateField(i, 'mayorista')">
                                        <ng-template viewMode>{{item.mayorista}}</ng-template>
                                        <ng-template editMode>
                                            <input [formControl]="getControl(i, 'mayorista')" focusable editableOnEnter>
                                        </ng-template>
                                    </editable>
                                </td>
                                <td> 
                                    <editable (update)="updateField(i, 'minorista')">
                                        <ng-template viewMode>{{item.minorista}}</ng-template>
                                        <ng-template editMode>
                                            <input [formControl]="getControl(i, 'minorista')" focusable editableOnEnter>
                                        </ng-template>
                                    </editable>
                                </td>
                                <td> {{item.ganciaMayorista}} </td>
                                <td> {{item.ganciaMinorista}} </td>
                                <td> <span style="color: red;" ><i (click)="borrar(item)" class="text-rpimary far fa-trash-alt fa-2x"></i></span> </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>