<nav class="sidebar sidebar-offcanvas">
    <ul class="nav">
  
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">
          <i class="menu-icon fa fa-tachometer-alt"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li> -->
  
      <li class="nav-item">
        <a class="nav-link" routerLink="/">
          <i class="menu-icon fa fa-clipboard-list"></i>
          <span class="menu-title">Registrar venta</span>
        </a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" routerLink="/lista">
          <i class="menu-icon fas fa-list"></i>
          <span class="menu-title">Lista de productos</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/agregar">
          <i class="menu-icon fas fa-plus-circle"></i>
          <span class="menu-title">Agregar nuevo producto</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/venta-lista">
          <i class="menu-icon fas fa-money-bill-alt"></i>
          <span class="menu-title">Ver ventas</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/detalle">
          <i class="menu-icon fas fa-chart-line"></i>
          <span class="menu-title">Balance</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/usuarios">
          <i class="menu-icon fas fa-users"></i>
          <span class="menu-title">Usuarios</span>
        </a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link cursor" (click)="logout()">
          <i class="menu-icon fa fa-sign-out-alt"></i>
          <span class="menu-title">Cerrar sesión</span>
        </a>
      </li>
      
    </ul>
  </nav>